*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contener2{
    background-image: url(../img/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    height: 716px;
    margin-top: 30px;
  
}
.kill1{
    width: 643px;
    height: 443px;
    background-color: rgba(255, 243, 227, 1);
    position: absolute;
    right: 36px;
    top: 150px;
}
.btn-primary{
    width: 222px;
    height: 74px;
    background-color: rgba(184, 142, 47, 1);
    padding-top: 20px;
}
.card h2{
    font-size: 52px;
    color: rgba(184, 142, 47, 1);
}
.text{
    text-align: center;
    margin-top: 20px;
}
.mal{
    text-align: center;
}
.card{
    border: 0;
}
.mil{
  background-color: rgba(244, 245, 247, 1); 
}
.mal1{
    width: 285px;
     position: relative;
    
    
}
.content{
    position: absolute;
    top: 0px;
    width: 272px;
    left: 0;
    height: 100%;
    padding-top: 150px;
    display: none;
    background-color: rgba(24, 23, 22, 0.255);
}
.bt{
    text-decoration: none;
    border: 2px solid rgb(212, 111, 43);
    display: block;
    width: 200px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
    margin-left: 30px;
}
.buttons{
    text-align: center;
    margin-bottom: 40px;
}
.content ul{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.content ul li a{
    text-decoration: none;
    color: white;
}
.content ul li {
    list-style: none;
}
.mal1:hover .content{
    display: block;
}
.card-body button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
}
.card-body h4{
    font-size: 15px;
}
.card-body h4 s{
    color: cadetblue;
    margin-left: 10px;
}
.kil2{
    display: flex;
    gap: 70px;
    margin-top: 35px;
}
.btn-outline-warning{
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.img01{
    height: 300px;
    width: 600px;
}
.ili{
   width: 100px;
    height: 400px;
}
.mal3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box2 h2{
    font-size: 62px;
}
.bottom{
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 30px;
}
.bottom ul li{
    list-style: none;
    line-height: 4;
}
.bottom ul li a{
    text-decoration: none;
}
#bul{
    margin-top: 20px;
}
.contener0{
    display: none;
}
.bottom form{
    margin-top: 30px;
}
.bottom form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 200px;
}
.bottom form button{
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100px;
}
.pagination{
    display: flex;
    gap: 10px;
}

.carousel-fade{
    width: 450px;
    
}
.d-block{
   border-radius: 15px; 
}
.carousel-fade:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in;

}
.botomer{
    display: none;
}
.nav-link{
    color: black;
}
.cart3:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.mal:hover{
    transition: 0.6s;
    transform: scale(1.1);
}
.mal1:hover{
    transition: 0.6s;
    transform: scale(1.1);
}
.btn-secondary{
    width: 178px;
    height: 48px;
    background-color: rgba(184, 142, 47, 1);
    color: #fff;
}
.nav-link
@media (max-width:600px){
     #clim {
        display: none !important;
    }
    .contener0{
        display: block;
    }
    .mal1:hover{
    transition: 0.6s;
    transform: none;
}
.mal:hover{
    transition: 0.6s;
    transform: none;
}
        .contener0{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
         padding-left: 25px;
        padding-right: 25px;
        width: 100%;
        max-width: 600px;
        position: sticky;
        top: 0px;
        background-color: #fff;
        z-index: 999;
    }
    
     /* menu-icon */
    .modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.747);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  width: 90%;
  max-width: 340px;
 
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  color: #fff;
  position: relative;
}

.modal-box a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
}

.login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
}

    /* menu-icon */
     .contener0 ul li{
        list-style: none;
    }
    .icons{
        display: flex;
        gap: 50px;
        margin-left: 0;
        position: absolute;
        left: 20px;
    }
    .icons li{
        list-style: none;
    }
    .contener2-1{
        display: flex;
        flex-direction: column;
        height: 500px;
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .bottom{
        display: none !important;
    }
    .botomer{
        display: block;
    }
    .bottom2{
        display: flex;
        gap: 50px;
        margin-top: 30px;
        background-color: rgb(39, 29, 29);
        width: 100%;
        max-width: 100%;
    }
      .logo-img img{
        width: 100px;
    }
    .bottom2 ul li{
        list-style: none;
        line-height: 2;
    }
    .bottom2 ul li a{
        text-decoration: none;
        color: white;
    }
    .bottom2 ul li a::after{
        content: '';
        display: block;
        background-color: #dc7311;
        height: 2px;
        margin-right: auto;
        width: 0;
    }
    .kil2{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .kill1{
        width: 250px;
        height: 350px;
    }
    .card h2{
    font-size: 22px;
    color: rgba(184, 142, 47, 1);
}
.contener2{
    height: 400px;
    margin-left: 10px;
}
.mal3{
    display: flex;
    flex-direction: column;
}
.carousel-fade{
    width: 200px;
    margin-top: 40px;
}
.box2 h2{
    font-size: 28px;
}
.content{
    position: absolute;
    top: 0px;
    width: 285px;
    left: 0;
    height: 100%;
    padding-top: 150px;
    display: none;
    background-color: rgba(24, 23, 22, 0.255);
}
.mal1{
    margin-left: 10px;
}
.mal{
    margin-left: 13px;
}
.btn-primary{
    width: 150px;
    height: 55px;
    padding-top: 12px;
}
.box2{
    margin-left: 20px;
}
    .bottom2 ul li:first-child{
        color: red;
    }
}