.img-box img{
    width: 100%;
    margin-top: 30px;
}
.text{
margin-top: 60px;
    text-align: center;
}
.box1{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.fa-solid{
    padding-top: 5px;
}
.signi input{
    width: 528px;
    height: 75px;
    border-radius: 10px;
    padding-left: 26px;
    margin-top: 23px;
}
.signi textarea{
    width: 528px;
    height: 120px;
    border-radius: 10px;
    padding-left: 26px;
    padding-top: 50px;
}
.containner{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.conte{
    width: 393px;
}
.contener2-1{
display: flex;
justify-content: space-between;
padding-left: 110px;
padding-right: 110px;
margin-top: 60px;

background-color: rgba(250, 243, 234, 1);
height: 270px;
}
.cart3 h3{
 font-size: 20px; 
 padding-left: 30px;  
}
.cart3 h3 span{
 font-size: 17px; 
 color: cadetblue;  
}
.box1 h3{
    font-size: 18px;
    margin-top: 20px;
}
.btn-secondary{
    width: 237px;
    height: 55px;
    background-color: rgba(184, 142, 47, 1);
    margin-top: 20px;
}
.bottom{
    margin-left: 100px;
    margin-right: 200px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.bottom ul li{
    list-style: none;
    line-height: 4;
}
.bottom ul li a{
    text-decoration: none;
}
.bottom form{
    margin-top: 30px;
}
.bottom form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 200px;
}
.bottom form button{
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100px;
}
#bul{
    margin-top: 20px;
}
#bul p{
    margin-top: 30px;
    color: rgba(159, 159, 159, 1);
}
.nav-link{
    color: #000;
}
.botomer{
    display: none;
}
.contener0{
    display: none;
}
.cart3:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.signi label{
    margin-top: 20px;
}
.box1 a{
    text-decoration: none;
    color: #000;
}
/* modalcha */
.mini-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.mini-box{
  background: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 14px;
}

@media (max-width:600px) {
    #clim {
        display: none !important;
    }
    .conte{
        width: 280px;
    }
        .bottom{
        display: none !important;
    }
    .botomer{
        display: block;
    }
    .bottom2{
        display: flex;
        gap: 50px;
        margin-top: 30px;
        background-color: rgb(39, 29, 29);
        width: 100%;
        max-width: 100%;
    }
    .bottom2 ul li{
        list-style: none;
        line-height: 2;
    }
    .bottom2 ul li a{
        text-decoration: none;
        color: white;
    }
    .bottom2 ul li a::after{
        content: '';
        display: block;
        background-color: #dc7311;
        height: 2px;
        margin-right: auto;
        width: 0;
    }
        /* menu-icon */
    .modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  width: 90%;
  max-width: 340px;
 
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  color: #fff;
  position: relative;
}

.modal-box a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
}

.login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
}
    .icons{
        display: flex;
        gap: 50px;
        margin-left: 0;
        position: absolute;
        left: 0;
    }
    .icons li{
        list-style: none;
    }
      .contener0{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:30px;
        margin-right: 30px;
        width: 260px;
        max-width: 600px;

    }
    .containner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
    }
    .contener2-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        padding-left: 20px;
    }
        .cart3{
        width: 285px;
        margin-top: 20px;
    }
    .signi input{
        width: 250px;
    }
    .signi textarea{
        width: 260px;
    }
    .text p{
        font-size: 10px;
        width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .signi{
        margin-bottom: 25px;
    }
    .contener0 ul li{
        list-style: none;
    }
    .logo-img img{
        width: 100px;
    }
    .bottom2 ul li:first-child{
        color: red;
    }
}
