.box3{
    display: flex;
}
.img-box img{
    width: 100%;
}
.box3 p{
    border-left: 1px solid black;
    margin-left: 30px;
    padding-left: 20px;
}
.box3 a{
    text-decoration: none;
    padding-left: 20px;
    color: #000;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(249, 241, 231, 1);
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.container2 form{
    display: flex;
 margin-top: -15px;
}
.in1{
    width: 55px;
    height: 55px;
    text-align: center;

}.in2{
    height: 55px;
    padding: 20px;
    width: 188px;
}
.mil{
  background-color: rgba(244, 245, 247, 1); 
}
.mal1{
    width: 285px;
     position: relative;
    
    
}
.content{
    position: absolute;
    top: 0px;
    width: 285px;
    left: 0;
    height: 100%;
    padding-top: 150px;
    display: none;
    background-color: rgba(24, 23, 22, 0.255);
}
.bt{
    text-decoration: none;
    border: 2px solid rgb(212, 111, 43);
    display: block;
    width: 200px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
    margin-left: 30px;
}
.content ul{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.content ul li a{
    text-decoration: none;
    color: white;
}
.content ul li {
    list-style: none;
}
.mal1:hover .content{
    display: block;
}
.card-body button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
}
.card-body h4{
    font-size: 15px;
}
.card-body h4 s{
    color: cadetblue;
    margin-left: 10px;
}
.kil2{
    display: flex;
    gap: 50px;
    padding-top: 30px;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.page-link{
    background-color: rgba(249, 241, 231, 1);
    border-radius: 8px;
    height: 50px;
    width: 50px;
    color: #000;
    padding-top: 12px;
    padding-left: 20px;
}
.ne{
    width: 80px;
    padding-top: 10px;
    padding-left: 20px;
}
.cart3 h3{
 font-size: 20px; 
 padding-left: 30px;  
}
.cart3 h3 span{
 font-size: 17px; 
 color: cadetblue;  
}
.contener2-1{
display: flex;
justify-content: space-between;
padding-left: 110px;
padding-right: 110px;

background-color: rgba(250, 243, 234, 1);
height: 270px;
}
.bottom{
    margin-left: 100px;
    margin-right: 200px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    margin-top: 35px;
}
.bottom ul li{
    list-style: none;
    line-height: 4;
}
.bottom ul li a{
    text-decoration: none;
}
.bottom form{
    margin-top: 30px;
}
.bottom form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 200px;
}
.bottom form button{
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100px;
}
.cart3:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
#bul{
    margin-top: 20px;
}
#bul p{
    margin-top: 30px;
    color: rgba(159, 159, 159, 1);
}
.contener0{
    display: none;
}
.botomer{
    display: none;
}
.nav-link{
    color: #000;
}
@media (max-width:600px){
     #clim {
        display: none !important;
    }
        .bottom2 ul li:first-child{
        color: red;
    }
    .contener0{
        display: block;
    }
        .contener0{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
         padding-left: 25px;
        padding-right: 25px;
        width: 100%;
        max-width: 600px;
        position: sticky;
        top: 0px;
        background-color: #fff;
        z-index: 999;
    }
    
     /* menu-icon */
    .modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.747);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  width: 90%;
  max-width: 340px;
 
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  color: #fff;
  position: relative;
}

.modal-box a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
}

.login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
}

    /* menu-icon */
     .contener0 ul li{
        list-style: none;
    }
    .icons{
        display: flex;
        gap: 50px;
        margin-left: 0;
        position: absolute;
        left: 20px;
    }
    .icons li{
        list-style: none;
    }
    .contener2-1{
        display: flex;
        flex-direction: column;
        height: 500px;
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .bottom{
        display: none !important;
    }
    .botomer{
        display: block;
    }
    .bottom2{
        display: flex;
        gap: 50px;
        margin-top: 30px;
        background-color: rgb(39, 29, 29);
        width: 100%;
        max-width: 100%;
    }
      .logo-img img{
        width: 100px;
    }
    .bottom2 ul li{
        list-style: none;
        line-height: 2;
    }
    .bottom2 ul li a{
        text-decoration: none;
        color: white;
    }
    .bottom2 ul li a::after{
        content: '';
        display: block;
        background-color: #dc7311;
        height: 2px;
        margin-right: auto;
        width: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container2{
       display: none;
    }
}