.mil{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.mil li a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.mil li{
    text-decoration: none;
    padding: 8px 12px;
    background: #f2f2f2;
    border-radius: 6px;
}
.kil1{
    display: flex;
    gap: 30px;
}
.tab tr{
    line-height: 3;
    margin-top: 20px;
}
.page-link{
    width: 38px;
    height: 38px;
    border-radius: 8px;
    font-size: 11px;
    background-color: rgba(249, 241, 231, 1);
    padding-top: 10px;
}
.num{
    display: flex;
    align-items: center;   gap: 10px;
}
.num input{
    width: 123px;
    height: 45px;
    border-radius: 7px;
   text-align: center;
}
.btn {
    background-color: #fff;
    border-color: black;
    color: #000;
}

.tab td{
    color: cadetblue;
}
.fa-brands{
    color: #000;
    margin-left: 10px;
}
.rig{
    padding-left: 30px;
}
.cart3:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.card-text:hover{
color: #c70f0f;
cursor: pointer;
}
.co{
  display: flex;
  gap: 50px;
  justify-content: center;
}
.co img{
    width: 600px;
    opacity: 0.5;
}
.card-img-top:hover{
opacity: 1;
 transition: 0.6s;
}
.mal1{
    width: 285px;
     position: relative;
}
.tab{
    margin-bottom: 150px;
}
.content{
    position: absolute;
    top: 0px;
    width: 285px;
    left: 0;
    height: 100%;
    padding-top: 150px;
    display: none;
    background-color: rgba(24, 23, 22, 0.255);
    border-radius: 10px;
}
.bt{
    text-decoration: none;
    border: 2px solid rgb(212, 111, 43);
    display: block;
    width: 200px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
    margin-left:auto;
    margin-right: auto;
}
.content ul{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.content ul li a{
    text-decoration: none;
    color: white;
}
.content ul li {
    list-style: none;
}
.box3:hover .content{
    display: block;
}
.just{
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    border: 0;
    margin-top: 50px;
}
.img-fluid{
   width: 981px;
 
}

#sar h2{
display: flex;
width: 649px;
justify-content: space-between;
margin-right: auto;
margin-left: auto;
}
#sar h2 span{
    color:rgba(159, 159, 159, 1);
    font-size: 24px;
}
#sar h2 span:hover{
    color:rgb(178, 35, 35);
    font-size: 24px;
}
#sar p{
    width: 1024px;
    color: rgba(159, 159, 159, 1);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
#sar p:hover{
  color: #000;
}
.box-img2{
    width: 284px;
}
.box3{
    position: relative;
}
.btn14{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 13px;
    border: 0;
    background-color: red;
    color: #fff;
    z-index: 99;
}
.endcart h3{
    font-size: 25px;
}
.endcart h4{
 font-size: 16px;
}
.endcart h4 span{
 font-size: 16px;
 color: cadetblue;
 padding-left: 30px;
}
.buttins1{
    text-align: center;
    margin-top: 35px;
}
.btn-outline-primary{
    width: 245px;
    height: 48px;
    border-radius: 0;
    border-color: rgba(184, 142, 47, 1);
}
.btn15:hover{
    background-color: #fc9a11;
}
.bottom{
    margin-left: 100px;
    margin-right: 200px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    margin-top: 35px;
}
.bottom ul li{
    list-style: none;
    line-height: 4;
}
   .bottom2 ul li:first-child{
        color: red;
    }
.bottom ul li a{
    text-decoration: none;
}
.bottom form{
    margin-top: 30px;
}
.bottom form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 200px;
}
.bottom form button{
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100px;
}
#bul{
    margin-top: 20px;
}
#bul p{
    margin-top: 30px;
    color: rgba(159, 159, 159, 1);
}
.contener0{
    display: none;
}
.botomer{
    display: none;
}
@media (max-width:600px){
     #clim {
        display: none !important;
    }
    .contener0{
        display: block;
    }
        .contener0{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
         padding-left: 25px;
        padding-right: 25px;
        width: 100%;
        max-width: 600px;
        position: sticky;
        top: 0px;
        background-color: #fff;
        z-index: 999;
    }
    
     /* menu-icon */
    .modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  width: 90%;
  max-width: 340px;
 
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  color: #fff;
  position: relative;
}

.modal-box a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 15px 0;
  font-size: 18px;
}

.login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
}
.just{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

    /* menu-icon */
     .contener0 ul li{
        list-style: none;
    }
    .icons{
        display: flex;
        gap: 50px;
        margin-left: 0;
        position: absolute;
        left: 20px;
    }
    .icons li{
        list-style: none;
    }
    .contener2-1{
        display: flex;
        flex-direction: column;
        height: 500px;
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .bottom{
        display: none !important;
    }
    .botomer{
        display: block;
    }
    .bottom2{
        display: flex;
        gap: 50px;
        margin-top: 30px;
        background-color: rgb(39, 29, 29);
        width: 100%;
        max-width: 100%;
    }
      .logo-img img{
        width: 100px;
    }
    .bottom2 ul li{
        list-style: none;
        line-height: 2;
    }
    .bottom2 ul li a{
        text-decoration: none;
        color: white;
    }
    .bottom2 ul li a::after{
        content: '';
        display: block;
        background-color: #dc7311;
        height: 2px;
        margin-right: auto;
        width: 0;
    }
    .bili{
        display: flex;
        flex-direction: column;
    }
    .img-fluid{
        width: 200px;
        margin-left: 30px;
    }
    .card-text{
        width: 200px;
    }
    .num{
    display: flex;
    flex-direction: column;
    width: 200px;
    }
   .num button{
    width: 200px;
   }
    .num input{
    width: 200px;
   }
   .co{
    display: flex;
    flex-direction: column;
   }
   .co img{
    width: 280px;
   }
   #sar p{
    width: 244px;
   text-align: center;
}
#sar h2 span{
 font-size: 11px;
}
#sar h2{
    width: 300px;
    margin-right: 30px;
}
.box3{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.box3 img{
    width: 250px;
}
.tab tr{
    line-height: 4;
}
.tab{
    margin-top: 30px;
}
}

