.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-content{
  background: #fff;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  position: relative;
}

.close{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
.mimg{
    display: flex;
    gap: 5px;
}
.mimg img{
    width: 66px;
}
.modal3{
    display: flex;
   gap: 30px;
}
.box31{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.box32{
    display: flex;
    gap: 10px;
    margin-left: 70px;
}
.box32 button{
    width: 70px;
    height: 25px;
    font-size: 11px;
    border-radius: 20px;
    padding-bottom: 5px;
    border: 0;
}
.modal2 p{
    width: 320px;
    font-size: 14px;
    color: rgb(169, 161, 161);
}
.modal2 h2 s{
    font-size: 18px;
    color: rgb(169, 161, 161);
}
.pic{
    width: 255px;
    height: 255px;
}
.contener-b button{
    width: 132px;
    height: 50px;
    border-radius: 8px;
    background-color: red;
    border: 0;
    color: #fff;
}
.contener-b{
    display: flex;
    gap: 30px;
}
.contenera{
    width: 132px;
    height: 50px;
    border: 1px solid yellow;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.contenera button{
    width: 40px;
    height: 40px;
    background: none;
    color: black;
    font-size: 25px;
}
.contenera input{
    border-bottom: 0;
    border-top: 0;
    width: 30px;
    padding-left: 7px;
}

