*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    background: rgb(15, 20, 35);
}
header{
    display: flex;
    justify-content: space-between;
 background: none;
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(251, 251, 251);
}
header ul{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
}
header ul{
    display: flex;gap: 30px;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #ffffff;
}
header ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(159, 30, 4);
    margin-right: auto;
    margin-left: auto;
    transition: 0.4s;
}
header ul li a:hover::after{
    width: 100%;
}

.contener{
      display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    align-items: center;
}
.contener img{
    width: 20px;
}
.contener form input{
    width: 450px;
    height: 52px;
    background:none;
    border-color:red ;
    border-radius: 8px;
    padding: 20px;
}
.register{
    display: flex;
    align-items: center;
    gap: 36px;
}
.register option{
    background: rgb(15, 20, 35);
    border: 0;
}
.register select{
    background: rgb(15, 20, 35);
    width: 60px;border: 0;
}
.register button{
    width: 177px;
    height: 50px;
    background:none;
 border-color: red;
    color: white;
    border-radius: 8px;
}
.register button:hover{
    background-color: #bd1f1f;
  border-color: yellow;
}
.number input{
    width: 40px;
    height: 20px;
    text-align: center;
    border-top: none;
    border-bottom: none;
    outline: none;
    color: rgb(255, 255, 255);
    border-color:rgb(255, 255, 255) ;
    background: none;
}
.number button{
    width: 20px;
    height: 20px;
    border: 0;
    background: 0;
}
.number{
    width: 108px;
    height: 40px;
    border: 1px solid bisque;
    padding-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 760px;
    height: 120px;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid rgb(214, 95, 11);
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 16px;
}
.cart:hover{
    box-shadow:
    inset 5px 0 14px rgba(0, 210, 255, 0.6),
    inset 2px 0 5px rgba(190, 245, 255, 0.7);
}
.car{
    display: flex;
    align-items: center;
    width: 350px;
}
.btn{
    border: 0;
    background: none;
}
.btn:hover .car{
display: none;

}
.box2{
    width: 330px;
    height: 258px;
    border-radius: 10PX;
    background-color: rgba(211, 180, 180, 0.007);
    border: 0.2px solid rgb(255, 0, 0);
}
.lef{
    text-align: left;
    color: rgb(135, 124, 124);
}
.rig{
    text-align: right;
}
.box2 button{
    width: 282px;
    height: 50px;
    color: white;
   background: none;
    border-color: rgb(215, 75, 20);
    border-radius: 8px;
    margin-top: 30px;
}
.box2 button:hover{
     background-color: red;
}
.box2 table{
    width: 270px;
    height: 170px;
    margin-right: auto;
    margin-left: auto;
}
.contener1{
    display: flex;
     padding-left: 165px;
    padding-right: 165px;
    gap: 20px;
}
.text{
    padding-left: 165px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.text h2{
    font-size: 33px;
}
.com h3 span{
color: rgb(190, 186, 186);
}
.com{
    padding-left: 165px;
    padding-top: 32px;
}

.bottom{
    display: flex;
    justify-content: space-between;
     margin-left: 165px;
    margin-right: 165px;
   margin-top: 167px;
}
.bottom ul li{
    list-style: none;
    line-height: 150%;
}
.bottom ul li a{
    text-decoration: none;
    color: #ffffff;
}
.bottom img{
    width: 117px;
    height: 42px;
}
.bottom i:hover{
opacity: 1;
}
.bottom i{
    margin-top: 36px;
font-size: 25px;
opacity: 0.5;
}
.end h3{
color: rgba(0, 158, 248, 1);
}
.end p{
    margin-top: 16px;
    line-height: 26px;
}
.vili{
    margin-top: 16px;
}
.register h3 ul{
    display: none;
}
.register ul li{
    list-style: none;
}
.register ul li a{
   text-decoration: none;
}
.register h3:hover ul{
    display: block;
    position: absolute;
    transition: 0.7s;
}

.bottom2{
    display: flex;
    justify-content: space-between;
    margin-left: 165px;margin-top: 60px;
    margin-right: 165px;
    border-top: 1px solid black;
    padding-top: 20px;
    align-items: center;
}
.end2{
    display: flex;
    gap: 15px;
    align-items: center;
}
.end3{
    display: flex;
    align-items: center;
    gap: 20px;
}
.spn{
    color: #948787;
}
.link{
    display: flex;
    gap: 10px;
    border: 1px solid rgb(255, 255, 255);
    align-items: center;
    width: 127px;
    height: 37px;
    border-radius: 7px;
    text-decoration: none;
    color: #000;
   margin-bottom: 10px;
   padding-left: 4px;
  
}
.link p{
    font-size: 10px;
}
.linka i{
    font-size: 25px;
}
.link h3{
    font-size: 15px;
    
}
.ex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ex h5{
    margin-top: 12px;
    
}
.ex p{
    font-size: 5px;
}
.respon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 2px solid #1e88e5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 105px;
}

.logo-text h1 {
    font-size: 22px;
    font-weight: 700;
}

.logo-text span {
    font-size: 10px;
    letter-spacing: 2px;
    color: #777;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart {
    position: relative;
}
.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    width: 18px;
    height: 18px;
    background: red;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 26px;
}
.cart10{
    display: flex;
    width: 270px;
    height: 178px;
    align-items: center;
    border: 1px solid rgb(241, 90, 8);
    gap: 15px;
    border-radius: 10px;
    margin-top: 30px;
}
.section1{
    display: none;
}
.kill1{
    display: none;
    padding-left: 20px;
}
.kill2{
    display: none;
}
.kill3{
    display: none;
}
.jil{
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
}
#lili{
color: #000;
}
.box2 button{
margin-left: 20px;

}
.bottom ul li a:hover{
    color: rgb(219, 144, 5);
  transform: scale(1.1);
}
/* modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  width: 90%;
  max-width: 340px;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  color: #fff;
  
}

.modal-box a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 15px 0;
  font-size: 15px;
  margin-top: 30px;
}

.login {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border-color: #bd1f1f;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  background:red;
}

.close {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
}

/* modal */
@media screen and (max-width:600px){
.kill1 input{
    width: 270px;
    height: 30px;
margin-top: 30px;
padding-left: 30px;
}
    .contener{
    display: none;
   }
    header{
    display: none;
   }
    .section1{
        display: block;
        padding-left: 20px;
    }
    .box1{
        display: none;
    }
    .bottom{
        display: none;
    }
    .bottom2{
        display: none;
    }
        .kill1 {
        display: block;
    }

    .kill2 {
        display: block;
    }
    .kill3{
        display: block;
    }
    .bill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }
     .el {
        padding-top: 7px;
    }

    .bill2 {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }
        .bill2 h3 {
        font-size: 15px;
    }

    .bill2 ul li {
        list-style: none;
        line-height: 1.7;
    }

    .bill2 ul li a {
        text-decoration: none;
        color: #ffffff;
    }

    .end {
        padding-left: 20px;
        padding-top: 30px;
    }

    .end h3 {
        font-size: 15px;
    }
      .nil {
        display: flex;
        margin-top: 20px;
        gap: 10px;
    }


    .ol {
        color: #8c8c8c;
    }

    .bill3 {
        padding-left: 20px;
    }
    .end10{
        padding-left: 20px;
        padding-top: 30px;
    }
    .end10 h3{
        font-size: 15px;
        color: blue;
    }
    .end10 p{
        line-height: 1.7;  
    }
    .text{
        padding-left: 20px;
        padding-bottom: 0;
        font-size: 15px;
    }
    .ikob{
        display: flex;
        align-items: center;
        padding-top: 7px;
        gap: 10px;
    }
    .cart10 h4{
        font-size: 15px;
    }
    .cart10 h2{
        font-size: 19px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
.box2{
    padding-left: 10px;
    padding-right: 10px;
    height: 270px;
}
.contener1{
    padding-left: 20px;
    margin-top: 30px;
}
.box2 button{
    width: 210px;
}
.box2 table{
  width: 250px;  
}
.kill1 h3{
    padding-top: 30px;
    font-size: 14px;
}
.kill1 h3 span{
    color: #9e8f8f;
}

    
}

